<body>
<h3>Profile</h3>
<br/>
<h4>
<a routerLink=".">Profile</a> | 
<a routerLink="doctors">Doctors</a> |
<a routerLink="examinations">Examinations</a>
</h4>
<hr/>
<router-outlet></router-outlet>

<table class="profile">
    <tr>
        <td>Firstname:</td>
        <td>
            {{user.firstname}}
        </td>
        <td rowspan="5" class="profile-picture">
            <img src="{{user.image}}" alt="Profile Picture">
          </td>
    </tr>
    <tr>
        <td>Lastname:</td>
        <td>
            {{user.lastname}} 
        </td>
    </tr>
    <tr>
        <td>Adress:</td>
        <td>
            {{user.adress}} 
        </td>
    </tr>
    <tr>
        <td>Mail adress:</td>
        <td>
            {{user.mail}} 
        </td>
    </tr>
    <tr>
        <td>Phone number:</td>
        <td>
            {{user.phone}} 
        </td>
    </tr>
</table>
<div class="logout-button">
    <button (click)="logout()">Logout</button>
</div>

<br/>

<div class="update-button">
    <button (click)="updateUser()">Update User</button>
    <button (click)="changePass()">Change password</button>
</div>

</body>