<body>
    <h3>Doctor profile</h3>
    <br/>
    <h4>
    <a routerLink="../..">Profile</a> | 
    <a routerLink="../../doctors">Doctors</a> |
    <a routerLink="../../examinations">Examinations</a>
    </h4>
    <hr/>
    <router-outlet></router-outlet>
    
    <table class="profile">
        <tr>
            <td>Firstname:</td>
            <td>
                {{doctor.firstname}}
            </td>
            <td rowspan="7" class="profile-picture">
                <img src="{{doctor.image}}" alt="Profile Picture">
              </td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td>
                {{doctor.lastname}} 
            </td>
        </tr>
        <tr>
            <td>Adress:</td>
            <td>
                {{doctor.adress}} 
            </td>
        </tr>
        <tr>
            <td>Mail adress:</td>
            <td>
                {{doctor.mail}} 
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>
                {{doctor.phone}} 
            </td>
        </tr>
        <tr>
            <td>Specialization:</td>
            <td>
                {{doctor.specialization}} 
            </td>
        </tr>
        <tr>
            <td>Branch:</td>
            <td>
                {{doctor.branch}} 
            </td>
        </tr>
    </table>
    <div class="logout-button">
        <button (click)="logout()">Logout</button>
    </div>

    <table class="examinations-table">
        <tr>
          <th>
            Examination
          </th>
          <th>
            Duration
          </th>
          <th>
            Price
          </th>
        </tr>
        <tr *ngFor="let e of examinations">
            <td>{{e.examination}}</td>
            <td>{{e.duration}} min</td>
            <td>{{e.price}}</td>
        </tr>
      </table>

      <br/>

      <form (ngSubmit)="scheduleAppointment()" class="appointment-form">
        <div class="input-group">
          <label for="date">Date:</label>
          <input type="text" id="date" name="date" [(ngModel)]="appointmentDate" required>
          <div class="error" *ngIf="!isDateValid">Date must be in the format mm.dd.yyyy.</div>
        </div>
        
        <div class="input-group">
          <label for="time">Time:</label>
          <input type="text" id="time" name="time" [(ngModel)]="appointmentTime" required>
          <div class="error" *ngIf="!isTimeValid">Time must be in the format hh:mm.</div>
        </div>
        
        <div class="input-group">
          <label for="examination">Choose Examination:</label>
          <select id="examination" name="examination" [(ngModel)]="selectedExamination" required>
            <option value="" disabled>Select an examination</option>
            <option *ngFor="let e of examinations" [value]="e.examination">{{ e.examination }}</option>
          </select>
          <div class="error" *ngIf="!isExaminationValid">Please select an examination.</div>
        </div>
      
        <button type="submit" class="submit">Schedule Appointment</button>
      </form>

      <br/>

      <!--
      <table class="examinations-table">
        <tr>
          <th>
            Examination
          </th>
          <th>
            Duration
          </th>
          <th>
            Date
          </th>
        </tr>
        <tr *ngFor="let e of appointments">
            <td>{{e.examination}}</td>
            <td>{{e.duration}} </td>
            <td>{{e.date}}</td>
        </tr>
      </table>
    -->
    </body>
