<body>
<h3>Welcome</h3>
<br/>
<h4>
<a routerLink="">Welcome</a> | 
<a routerLink="login">Login</a> |
<a routerLink="register">Register</a>
</h4>
<hr/>
<router-outlet></router-outlet>


<div class="slider">
  <button (click)="left()"><</button>
  <img src = {{image}} class="mainImage">
  <button (click)="right()">></button>
</div>
  

<table class="doctors-table">
  <tr>
    <th>
      Picture
    </th>
    <th>
      Firstname
      <button (click)="sortBy('firstname')">Sort A-Z</button>
      <button (click)="reverseSortBy('firstname')">Sort Z-A</button>
      <input [(ngModel)]="searchText.firstname" 
             (ngModelChange)="applyFilters()" 
             placeholder="Search...">
    </th>
    <th>
      Lastname
      <button (click)="sortBy('lastname')">Sort A-Z</button>
      <button (click)="reverseSortBy('lastname')">Sort Z-A</button>
      <input [(ngModel)]="searchText.lastname" 
             (ngModelChange)="applyFilters()" 
             placeholder="Search...">
    </th>
    <th>
      Specialization
      <button (click)="sortBy('specialization')">Sort A-Z</button>
      <button (click)="reverseSortBy('specialization')">Sort Z-A</button>
      <input [(ngModel)]="searchText.specialization" 
             (ngModelChange)="applyFilters()" 
             placeholder="Search...">
    </th>
  </tr>
  <tr *ngFor="let doc of shownDoctors">
      <td class="profile-picture"><img src="{{doc.image}}" alt="Profile Picture"></td>
      <td>{{doc.firstname}}</td>
      <td>{{doc.lastname}}</td>
      <td>{{doc.specialization}}</td>
  </tr>
</table>


</body>