body {
    background-color: rgb(224, 235, 239);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Align items vertically */
    /* justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    min-height: 100vh; /* Ensure content takes at least the full viewport height */
  }

  .h4{
    display: flex;
    flex-direction: column; /* Align items vertically */
    /* justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .profile {
    margin: 0 auto;
    color: darkblue;
    border-collapse: collapse;
    width: 50%; /* Adjust the width as needed */
  }
  
  .profile td {
    padding: 8px;
    border: 1px solid darkblue;
  }
  
  .profile-picture {
    vertical-align: center; /* Align the picture to the top of the cell */
    padding: 8px;
    text-align: center;
  }
  
  .profile-picture img {
    max-width: 300px; /* Adjust the maximum width of the profile picture */
    max-height: 300px; /* Adjust the maximum height of the profile picture */
    /* border: 2px solid blue; /* Add a border to the picture */
  }
  
  .logout-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
  }
  
  .logout-button button {
    font-size: 25px;
    padding: 8px 15px;
    background-color: lightcyan;
    color: darkblue;
    border: 2px solid darkblue; /* Add a 2px solid dark blue border */
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button button {
    font-size: 25px;
    padding: 8px 15px;
    background-color: lightcyan;
    color: darkblue;
    border: 2px solid darkblue; /* Add a 2px solid dark blue border */
    border-radius: 4px;
    cursor: pointer;
  }