<body>
    <h3>Examinations</h3>
    <br/>
    <h4>
    <a routerLink="..">Profile</a> | 
    <a routerLink=".">Examinations</a> |
    <a routerLink="../other">Other</a>
    </h4>
    <hr/>
    <router-outlet></router-outlet>

    <table class="all-table">
        <tr>
          <th>
            Examination
          </th>
          <th>
            Date
          </th>
          <th>
            Duration
          </th>
          <th>
            Patient
          </th>
          <th>
            Remove Appointment
          </th>
        </tr>
        <tr *ngFor="let a of appointments">
            <td>{{a.examination}}</td>
            <td>{{ a.date | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>{{a.duration}}</td>
            <td><a [routerLink]="['../patient', a.patient]">{{a.patient}}</a></td>
            <td class="remove-button"><button (click)="removeAppointment(a.doc_username,a.date)" *ngIf="a!=null">Yes</button></td>
        </tr>
      </table>

    <div class="logout-button">
        <button (click)="logout()">Logout</button>
    </div>


</body>