<body>
    <h3 class="h3">
        Change password
    </h3>
    <br/>

    <div class="logout-button">
        <button (click)="goBack()">Go Back</button>
    </div>

    <form (ngSubmit)="changePass()" class="request-form">
        
        <div class="input-group">
            <label for="password1">Old Password:</label>
            <input type="password" id="password1" name="password1" [(ngModel)]="password1" required>
            <div class="error" *ngIf="!isPass1Valid">Empty</div>
            <div class="error" *ngIf="!oldPass">Not old password</div>
          </div>

        <div class="input-group">
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
            <div class="error" *ngIf="!isNewPassValid">Empty</div>
            <div class="error" *ngIf="!passForm">Incorrect form</div>
          </div>

        <div class="input-group">
            <label for="password2">Repeat Password:</label>
            <input type="password" id="password2" name="password2" [(ngModel)]="password2" required>
            <div class="error" *ngIf="!isPass2Valid">Empty</div>
            <div class="error" *ngIf="!samePass">Enter the same password</div>
          </div>

          
      
        <button type="submit" class="submit">Change pass</button>
      </form>

</body>