<body>
<h3>Login</h3>
<br/>
<h4>
<a routerLink="../">Hospital</a> | 
<a routerLink=".">Login</a> |
<a routerLink="../register">Register</a>
</h4>
<hr/>
<router-outlet></router-outlet>

<table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" [(ngModel)]="username">
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="password"> 
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="login()">Login</button>
        </td>
    </tr>
</table>
<p class="error">{{error}}</p>


</body>